# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.clj]
indent_size = 2
insert_final_newline = false

[COMMIT_EDITMSG]
max_line_length = 72
trim_trailing_whitespace = false

