body {
    margin: 30px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-bottom: 10px;
}

.avatar {
    clear: left;
    float: left;
    margin-right: 0.5em;
    width: 32px;
}

.content {
    overflow: hidden; /* block formatting context, independent from avatar */
    font-size: 16px;
    cursor: pointer;
}

.meta {
    font-size: 12px;
}

.author:before {
    content: 'written by ';
}

.time:before {
    content: ' on ';
}

.reply:before {
    content: ' in reply to ';
}

.conversation:before {
    content: ' (conversation ';
}

.conversation:after {
    content: ')';
}
.input {
    width: 80;
}
