body {
    font-size: 16px;
    line-height: 1.78em;
    margin: 0;
    padding: 0;
}

body,
.content {
    /* required to override Bootstrap defaults */
    line-height: 1.33em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.post {
    padding: 0.7em 0.7em 0.9em;
    border-bottom: 1px solid #EEE;
}

.avatar img {
    clear: left;
    float: left;
    margin-right: 0.5em;
    max-width: 32px;
    max-height: 32px;
    overflow: hidden;
}

.post-content, 
.meta { 
    margin-left: 40px;
}

.post-content {
    overflow: hidden; /* block formatting context, independent from avatar */
    cursor: pointer;
}

.meta {
    font-size: 12px;
}

.author:before {
    content: 'written by ';
}

.time:before {
    content: ' on ';
}

.delete form {
    display: inline;
    padding-left: 10px;
}

.icon-label-holder {
    font-size: 0;
}

.reply:before {
    content: ' in reply to ';
}

.conversation:before {
    content: ' (conversation ';
}

.conversation:after {
    content: ')';
}

.input {
    width: 95%;
}
