body {
    margin: 30px;
}

body,
.content {
    /* required to override Bootstrap defaults */
    line-height: 1.33em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.post {
    padding-bottom: 10px;
}

.avatar {
    clear: left;
    float: left;
    margin-right: 0.5em;
    max-width: 32px;
    max-height: 32px;
}

.content {
    overflow: hidden; /* block formatting context, independent from avatar */
    font-size: 16px;
    cursor: pointer;
}

.meta {
    font-size: 12px;
}

.author:before {
    content: 'written by ';
}

.time:before {
    content: ' on ';
}

.delete form {
    display: inline;
    padding-left: 10px;
}

.icon-label-holder {
    font-size: 0;
}

.reply:before {
    content: ' in reply to ';
}

.conversation:before {
    content: ' (conversation ';
}

.conversation:after {
    content: ')';
}

.input {
    width: 80;
}
