body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.45em;
    color: #333;
    margin: 0;
    padding: 0;
    padding-top: 4.5em;
    background-color: #f6f8fa;
}

body,
.content {
    /* required to override Bootstrap defaults */
    line-height: 1.33em;
}

.tweet-wrapper, footer {
    max-width: 800px;
    margin: 1em auto;
    padding: 0 0.8em;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-default {
    background-color: #fff;
    color: #666;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
}

.navbar label {
    font-weight: 300;
    margin: 0;
    display: inline;
}

.navbar-nav .fa {
    margin-right: 0.3em;
}

.navbar-nav input.pref {
    margin-left: 0.3em;
}

.updates, .update {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fff;
    margin: 1em 0;
    text-align: left;
    margin-left: 48px;
}

.post, .update {
    padding: 0 10px 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}


.post:before,
.post:after {
    content: " ";
    border-color: transparent;
    display: block;
    border-style: solid solid outset;
    position: absolute;
    top: 10px;
    left: -16px;
}

.post:before {
    border-width: 8px;
    border-right-color: rgba(0, 0, 0, 0.1);
}

.post:after {
    border-right-color: #fff;
    border-width: 7px;
    margin-top: 1px;
    margin-left: 2px;
}

.avatar {
    margin-left: -58px;
}
.avatar img {
    clear: left;
    float: left;
    margin-right: 0.5em;
    max-width: 32px;
    max-height: 32px;
    overflow: hidden;
    border-radius: 3px;
}

.post-content {
    overflow: hidden; /* block formatting context, independent from avatar */
    font-size: 15px;
    clear: both;
    margin-top: 1em;
}

.current {
    background-color: #FFD;
}

.post.current:after {
    border-right-color: #FFD;
}

.current .post-content {
    font-size: 1.4em;
    line-height: 1.7em;
}

.post-content img {
    display: block;
    border-radius: 3px;
}

.meta {
    padding-top: 8px;
    font-size: 12px;
    color: #aaa;
    height: 20px;
    width:100%;
}

.meta a {
    color: #667;
}

.meta .author,
.meta .reply,
.meta .actions {
    float: left;
    margin-right: 4px;
}

.meta .author {
    font-weight: 600;
}
.actions {
    font-size: 14px;
    line-height: 4px;
    display: none;
    position: relative;
}
.post:hover .actions {
    display: inline;
}

.actions .btn {
    position: absolute;
    left: .5em;
    background: transparent;
    padding: 0;
    margin: -4px 0 0 0;
    color: #ccc;
    font-size: 20px;
}
.actions .btn-delete {
    left: 2.5em;
}

.actions .btn:hover {
    color: #333;
}

.actions .btn-label {
    position: absolute;
    left: -5000px;
}

.new-reply {
    margin-top: 1em;
}

.time {
    float: right;
}

.delete form {
    display: inline;
}

.char-count:before {
    /* ensures constant width */
    content: "";
    display: inline-block;
    float: left;
    width: 2em; /* XXX: magic number */
}

.reply,
.reply:before {
    font-style: italic;
}

.reply:before {
    content: '· in reply to';
    padding-right: 0.3em;
}

footer {
    font-size: 1.3em;
}

@media (min-width: 768px) {
    .updates, .update {
        border: none;
        background-color: transparent;
    }

    .post, .update {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background-color: #fff;
        padding: 0 10px 10px;
        margin-bottom: 1em;
    }

    .actions .btn {
        font-size: inherit;
        margin-top: 0px;
    }
}
